baseurl: "/"
permalink: pretty
title: "Shelton Theater"

logo:
  mobile: "images/logo/logo-mobile.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/logo.svg"
  desktop_height: "100px"
  desktop_width: "100px"

home:
  limit_shows: 6

collections:
  shows:
    output: true
    sort_by: weight

defaults:
  - scope:
      path: ""
      type: "shows"
    values:
      layout: "page"
      bodyClass: "page-show"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables
  - jekyll-redirect-from

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
