<div class="call">
    <div class="call-box-top">
        {% if site.data.contact.phone %}
        <div class="call-phone">
            <strong>Phone: </strong> {{ site.data.contact.phone }}
        </div>
        {% endif %} {% if site.data.contact.email %}
        <div class="call-email">
            <strong>Email: </strong>
            <a href="mailto:{{ .site.data.contact.emailurl }}">
                {{ site.data.contact.email }}
            </a>
        </div>
        {% endif %}
    </div>
</div>
