.footer {
  background: $footer-background-color;
  color: $footer-text-color;
  padding-top: 20px;
  padding-bottom: 20px;
  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .copyright {
    margin-top: 15px;
    font-size: 14px;
    a {
      font-weight: bold;
      color: inherit;
    }
  }
}
