.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 30px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

.gallery-item {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 4px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
