.newsletter-section {
  background-color: $primary;
  padding: 40px 0;
  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }
}

.newsletter-inner {
  text-align: center;
  h2 {
    font-family: $font-family-heading;
    font-size: 28px;
    color: $white;
    margin-bottom: 15px;
  }
  p {
    color: rgba($white, 0.8);
    margin-bottom: 25px;
    font-size: 18px;
  }
  .button {
    background-color: $white;
    color: $primary;
    &:hover {
      background-color: rgba($white, 0.9);
      color: $primary;
    }
  }
}
