.other-shows {
    background-color: $white;
    padding: 40px 0 60px;
    border-top: 1px solid #e0e0e0;
    h2 {
        font-family: $font-family-heading;
        font-size: 28px;
        color: $black;
        margin-bottom: 30px;
    }
}
